XML/xsd/sociosLM.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="socios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="socio" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="DNI" minOccurs="0">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[0-9]{8}[A-Z]" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="fecha-nacimiento" type="xs:date"></xs:element>
                            <xs:element name="poblacion" type="xs:string"></xs:element>
                            <xs:element name="equipo" type="xs:string"></xs:element>
                            <xs:element name="ranking" type="xs:float"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:integer"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>